$black: hsl(0,0%,9%);
$dark-grey: hsl(0,0%,26.7%);
$very-dark-grey: hsl(0,0%,16.7%);
$light-grey: hsl(0,0%,92.9%);
$red: #FF0075;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: $light-grey;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.header {
    background-color: $very-dark-grey;

    .nav-btn {
        position: fixed;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color: transparent;
        z-index: 100;
    }

    @media screen and (min-width: 450px) {
        .nav-btn {
            display: none;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 1.2rem;
    z-index: 99;

    .nav-list {
        list-style-type: none;
        text-transform: lowercase;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100vh;
        padding: 5rem 1rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        background-color: $very-dark-grey;
        border-left: 2px solid $red;
        transform: translateX(100%);
        transition: transform 400ms ease-in;
        text-align: center;

        .nav-link {
            padding: 0.8rem 0.4rem;
        }

        .nav-home:hover,
        .nav-about:hover,
        .nav-work:hover {
            cursor: pointer;
            border-bottom: 2px solid $red;
        }

        .nav-contact {
            border: 2px solid $red;
        }
    }

    .nav-list[data-visible='true'] {
        transform: translateX(0%);
    }

    @media screen and (min-width: 450px) {
        .nav-list {
            display: flex;
            align-items: center;
            flex-direction: row;
            border-left: none;
            height: auto;
            width: auto;
            padding: 0 1rem;
            position: static;
            background-color: inherit;
            transform: translateX(0%);
            transition: none;
        }
    }

}

@media screen and (min-width: 450px) {
    .navbar {
       width: 100%;
       justify-content: right;
       padding: 1rem;
    }
}

.home {
    padding-top: 12rem;
}

.about-me,
.work,
.contact {
    padding: 8rem 1rem 1rem;
    clip-path: polygon(0% 0%, 95% 0%, 0% 0%, 100% 7%, 100% 100%, 100% 100%, 0% 100%);
    margin-top: -100px;
}

.section-header {
    background-color: $red;
    width: 12rem;
    height: 1rem;
    position: relative;
    margin-bottom: 4rem;
}

.section-title {
    font-size: 2rem;
    position: absolute;
    top: -1.6rem;
    left: 0.4rem;
}

.home {
    height: 100vh;
    background-color: $very-dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo {
        height: 10rem;
    }

    .home-title {
        font-size: 3rem;
        line-height: 1;
        padding: 3rem 0 0.5rem;
    }

    .home-subtitle {
        color: $red;
        font-weight: 400;
        padding-bottom: 2rem;
    }

    .scroll {
        height: 3rem;
    }
}

.about-me {
    background-color: $dark-grey;
    height: 100vh;
    clip-path: polygon(0% 0%, 95% 0%, 0% 0%, 100% 7%, 100% 100%, 100% 100%, 0% 100%);
}

.about-me-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.about-me-info,
.work-info {
    text-align: center;
    margin: auto;
}

.about-me-text,
.work-text {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.about-me-skills {
    margin: 2rem auto 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
}

.work {
    background-color: $very-dark-grey;
    padding-bottom: 10rem;
}

.work-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 2rem;
}

.work-img {
    border: 1px solid $red;
    max-width: 17rem;
    margin-bottom: 0.5rem;
}

.work-grid-item {
    max-width: 17rem;
    margin: auto;
}

.contact {
    background-color: $dark-grey;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
        height: 3rem;
    }

    input,
    .contact-message {
        background-color: $very-dark-grey;
        border: none;
        padding: 1rem;
        color: $light-grey;
    }

    input:focus,
    .contact-message:focus {
        outline: none;
    }

}

.copyright {
    margin: 3rem auto 1rem;
    font-size: 0.8rem;
    text-align: center;
}